---
title: Apps
heading: Wie kann ich ShareMyCart nutzen?
---

<div class="tldr text-container">
    Besuche <a href="https://beta.sharemycart.com" target="_blank">https://beta.sharemycart.com</a>, dann kannst Du die
    App von dort aus installieren oder einfach direkt im Browser nutzen!
</div>

<h3>Nicht in den AppStores</h3>
<p>
    ShareMyCart ist derzeit weder im PlayStore noch im AppleStore verfügbar :(<br />
    Grund dafür ist, dass es echt viel Aufwand und auch immerhin 99€/Jahr kostet, wenn man Apps in den AppStore bringen
    möchte. Da die App derzeit die Arbeit einer einzelnen Person ist, ist der einfach zu viel Aufwand. Daher habe ich
    (Oliver) mich dazu entschieden, die App zunächst als reine WebApp anzubieten. Das sorgt auch dafür, dass die App
    einfacher (nämlich automatisch bei jedem Beende und neu Starten) aktualisiert wird.<br />
</p>

<h3>Installation als App im Homescreen</h3>
<p>
    Nichts destotrotz kann ShareMyCart so auf Deinem Smartphone oder auch PC/Mac installiert werden, dass sie sich fast
    genau so anfühlt, als ob es sich um eine "echte" iOS/Android App handelt.<br>
    Besuche <a href="https://beta.sharemycart.com" target="_blank">https://beta.sharemycart.com</a>. Je nach
    Betriebssystem kannst Du dann dortin unterschiedlicher Manier die App installieren:
    <ul style="list-style-type: none;">
        <li>
            <a id="ios"><h4>iOS</h4></a>
            {% include image-gallery.html folder="/images/screenshots/ios" %}
        </li>
        <li>
            <a id="android"><h4>Android</h4></a>
            {% include image-gallery.html folder="/images/screenshots/android" %}
        </li>
    </ul>
</p>